
/*

Dark Brown: #36241B
Light Brown: #B2765D
Warm Orange: #D68A63
Secondary Colors
Darker Brown: #291E15
Lighter Brown: #D9B7A1
Gold: #B8A372
Additional Colors (Optional)
Black: #000000
White: #FFFFFF


Dark Brown: #40291D
Bronze: #B2913C
Burgundy: #800020
Black: #000000

Deep brown: #40291D
Golden brown: #B2913C
Olive green: #666666
Cream #FFF8DC
Dark gray: #800000
Burgundy: #800020
Light green: #008000

*/
#all_colors{ /* for preview in VS Code */
    /*Primary Colors */
    color:#36241B;
    color:#B2765D;
    color:#D68A63;

    /* Secondary Colors */
    color:#291E15;
    color:#D9B7A1;
    color:#B8A372;

    color:#2b180e;
    color:#40291D;
    color:#B2913C;
    color:#800020;
    color:#922b0c;
    color:#40291D;
    color:#B2913C;
    color:#666666;
    color:#FFF8DC; /*Cream*/
    color:#404040;
    color:#008000;

    /* Alternate Palette */
    color:#Ff7b15;
    color:#Ff9b15;
    color:#bf7b15;
    color:#6f340d;
    color:#160d08;
    color:#45220d;
    color:#c0aa7a;
    color:#8a8d73;
    color:#504e3e;
    color:#302e26;
    color:#454344;
    color:#848384;    
    color:#2980B9; 
    color:#03A9F4;    
    color:#8400ff;   
    color:#009200;   
    color:#6aa16a;

    /* Fire*/
    color:#801100;
    color:#B62203;
    color:#d73502;
    color:#fc6400;
    color:#ff7500;
    color:#FAC000;

}



.bslib-gap-spacing{
    gap:0px;
}

.modebar{
    display: none !important;
}


.shiny-data-grid-summary{
    background-color: #160d08;
}


/* make it so that datagrids shink below 250px height if there isn't enough content */
.shiny-data-frame .shiny-data-grid.shiny-data-grid-table{
    height:100%; 
    max-height:250px;
}

.shiny-data-grid.shiny-data-grid-table {
    border-top: none !important; 
    height:100% !important; /* Requires to get properly spaced scroll bar to right of datagrids when they are confined to a pixel space*/
}


thead, th{
    background-color: #45220d !important;
    border: 0px !important;
    color: #dbcaa4 !important;
}

.dashboard-table{
    background-color: #dbcaa4 !important;
    padding: unset;
}

.dashboard-card{
    background-color: #160d08 !important;
    color: #FFF8DC;
}


.tab-content>.active{
    padding-right:12px; /*calc(var(--bs-gutter-x)* .5);*/
    padding-left:12px;
}

.container-fluid{
    padding-right:0px;
    padding-left:0px;
}

.navbar.navbar-default{
    background-image: url("rosette_a_tall.png"),url("rosette_b.png");
    background-size: 150px, 150px;
    background-repeat: no-repeat, repeat;
    background-color: #D9B7A1 !important;
    padding-left: 60px;
    
}

body {
    font-family: garamond;
    background-color: black;
    color: #FFF8DC;
}

h3, h6 {
    color: #FFF8DC;
}

.chart-title {
    color: #FFF8DC;
    font-size:30px;
}

/* Sidebar background, border, and text formatting */
.bslib-sidebar-layout>.sidebar{
    color: #dbcaa4;
    background-color: #101010;
    border-radius: 8px;
    
    /* get it to line up with first cards in main */
    padding:5px;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 43px
}

/* Main space in a nav panel next to the sidebar where cards are laid out */
.bslib-sidebar-layout>.main{
    padding:5px;
}

.sidebar{
    height: fit-content;
}

/*sidebar control label formatting*/
.form-label, .shiny-input-container .control-label{
    font-weight: 700;
}

/* Collapse/Expand Toggle icon on Side bar */
.bslib-sidebar-layout>.collapse-toggle, .bslib-sidebar-layout.sidebar-collapsed>.collapse-toggle {
    color: #dbcaa4;
    background-color: #922b0c;
    border-radius: 15px;
    top: calc(var(--_icon-size, 1rem)); /* makes toggle icon be evenly spaced from top as from right */
}


/* Styling for the entire Modal */
.modal-content{
    background-color: #2b180e;
    border-style: double;
    border-color: #D68A63;
}


.modal-header {
    display: block;
    text-align: center;
    padding-bottom: 0;
}


.modal-titlebar {
    min-height:30px;
    display: flex;
    flex-direction: row;
    margin-bottom:10px;
}

.modal-title-text {
    flex: 1 1 auto;
}

.modal-titlebar .modal-close {
    /*width:30px;*/
    max-height:30px;
    --bs-btn-color: #dbcaa4;
    --bs-btn-border-color: #dbcaa4;
    --bs-btn-bg: #922b0c;
    padding-left:8px;
    padding-bottom:8px;
    padding-right:5px;
    padding-top:5px;

}

.day-modal-video {
    padding-top:10px;
}


iframe {
    aspect-ratio: 16 / 9;
    width: 100%; /* change this to a fixed width, or create a container with a width. */
    height: 100%;
  }

.legend-font{
    font-family:garamond;
    color:#Ff9b15;
    font-size:10pt;
}

/*### Acoustic Arsenal ###*/
/*Guitar Shelf Cards*/
.guitar-card {
    background-color: #000000 !important;
    color: #FFF8DC;
    flex: 1 1 auto;
    aspect-ratio: 0.55;
    min-width: 350px;
    max-width: 550px;
    overflow:hidden;
}

.guitar-tooltip {
    font-family:garamond;
    text-align:left;
    font-size:12pt;
    color: #beb8a4;
}

.guitar-tooltip-title {
    font-weight:900;
    color: #FFF8DC;
}

.tooltip {
    --bs-tooltip-max-width:350px;
}

.guitar-card-image {
    object-fit:fill;
}


/*### Career Tab ###*/
.ban-row{
    flex-direction: horizontal;
    flex-wrap: wrap;
}

.ban-card{
    flex: 1 1 auto;
    background-color: #775745 !important;
    color: #FFF8DC;
    text-align: center;
    width:auto;
    margin-left: 6px;
    margin-right: 6px;
}

.ban-text{
    font-size: 50pt;
    white-space: nowrap;
    
}