
/*

Dark Brown: #36241B
Light Brown: #B2765D
Warm Orange: #D68A63
Secondary Colors
Darker Brown: #291E15
Lighter Brown: #D9B7A1
Gold: #B8A372
Additional Colors (Optional)
Black: #000000
White: #FFFFFF


Dark Brown: #40291D
Bronze: #B2913C
Burgundy: #800020
Black: #000000

Deep brown: #40291D
Golden brown: #B2913C
Olive green: #666666
Cream #FFF8DC
Dark gray: #800000
Burgundy: #800020
Light green: #008000

*/
#all_colors{ /* for preview in VS Code */
    /*Primary Colors */
    color:#36241B;
    color:#B2765D;
    color:#D68A63;

    /* Secondary Colors */
    color:#291E15;
    color:#D9B7A1;
    color:#B8A372;

    color:#40291D;
    color:#B2913C;
    color:#800020;
    color:#922b0c;
    color:#40291D;
    color:#B2913C;
    color:#666666;
    color:#FFF8DC; /*Cream*/
    color:#404040;
    color:#008000;

    /* Alternate Palette */
    color:#Ff7b15;
    color:#Ff9b15;
    color:#bf7b15;
    color:#6f340d;
    color:#160d08;
    color:#45220d;
    color:#c0aa7a;
    color:#8a8d73;
    color:#504e3e;
    color:#302e26;
    color:#454344;
    color:#848384;    
    color:#2980B9; 
    color:#03A9F4;          

}

.bslib-gap-spacing{
    gap:0px;
}

.modebar{
    display: none !important;
}

/* This doesn't do anything */
.shiny-data-grid.shiny-data-grid-table {
    border-top: none !important;
}

/* This doesn't do anything */
.shiny-data-frame {
    border-top: none !important;
}

thead, th{
    background-color: #160d08 !important;
    border: 0px !important;
    color: #dbcaa4 !important;
}

.dashboard-table{
    background-color: #dbcaa4 !important;
    border-top: 0px !important; /* This doesn't do anything */
}

.dashboard-card{
    background-color: #160d08 !important;
    color: #FFF8DC;
}


.tab-content>.active{
    padding-right:12px; /*calc(var(--bs-gutter-x)* .5);*/
    padding-left:12px;
}

.container-fluid{
    padding-right:0px;
    padding-left:0px;
}

.navbar.navbar-default{
    background-color: #D9B7A1 !important;
}

body {
    font-family: garamond;
    background-color: black;
    color: #FFF8DC;
}

h3, h6 {
    color: #FFF8DC;
}

/* Sidebar background, border, and text formatting */
.bslib-sidebar-layout>.sidebar{
    color: #dbcaa4;
    background-color: #101010;
    border-radius: 8px;
    
    /* get it to line up with first cards in main */
    padding:5px;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 43px
}

/* Main space in a nav panel next to the sidebar where cards are laid out */
.bslib-sidebar-layout>.main{
    padding:5px;
}

/*sidebar control label formatting*/
.form-label, .shiny-input-container .control-label{
    font-weight: 700;
}

/* Collapse/Expand Toggle icon on Side bar */
.bslib-sidebar-layout>.collapse-toggle, .bslib-sidebar-layout.sidebar-collapsed>.collapse-toggle {
    color: #dbcaa4;
    background-color: #922b0c;
    border-radius: 15px;
    top: calc(var(--_icon-size, 1rem)); /* makes toggle icon be evenly spaced from top as from right */
}
